# ignorar todos los archivos que terminen en .log
*.log

# excepto production.log
!production.log

# ignorar los archivos terminados en .txt dentro de la carpeta doc (pero no sus subdirectorios)
doc/*.txt

# ignorar todos los archivos terminados en .pdf dentro de la carpeta doc y sus subdirectorios
doc/**/*.pdf

# ignorar la carpeta de VS
.vscode

# ignorar caperta .idea
.idea

# ignorar otros
.DS_Store 
# .gitignore